<h2>New Taco Creation! Go Ahead... Taco Bout It.</h2>

<form class="" action="/taco_creations" method="post">
    <label for="name">Creation:</label>
    <input type="text" name="creation" value="">
    <input type="submit" name="" value="Taco Time!">

</form>