Taco Creation Show Page!

<p><%= @taco_creation.creation %></p>


<% if authorized_to_edit?(@taco_creation) %>
    <a href="/taco_creations/<%= @taco_creation.id %>/edit">Edit Entry</a>

<%%>

Delete Link
<% end %>