<h2>Welcome To Taco Creations! Post, Share, & Update Your Taco Creations... Or Fails!</h2>

<h3>Sign Up</h3>

<form class="" action="users" method="post">
    <label for="name">Name: </label>
    <input type="text" name="name" value="">
    <label for="username">Username: </label>
    <input type="text" name="username" value="">
    <label for="password">Password: </label>
    <input type="text" name="password" value="">
    <input type="submit" value="Taco Time!">
</form>